.field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  background-color: var(--color-white);
  font-size: var(--font-sm);
  padding: 4px;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: -15px;
  left: 20px;
}

.input {
  border: 1px solid var(--color-text);
  font-size: var(--font-md);
  padding: 10px 40px 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.icon {
    position: absolute;
    right: 20px;
    top: 12px

}
