
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.infoPanel {
  position: absolute;
  top: 20px;
  left: 100px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}
