.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background: rgba(255, 255, 255, 0.8); /* beyaz ve yarı şeffaf */
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: 80px;
}

.infoPair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 0.85rem;
  color: #666;
  font-weight: 500;
}

.value {
  font-size: 1rem;
  color: #111;
  font-weight: 600;
}
