.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 12px 16px;
  border-radius: 12px;
  width: fit-content;
  height: 80px;
}

.infoPair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: var(--font-md);
  color: var(--color-text);
}

.value {
  font-size: var(--font-lg);
  color: var(--color-text);
}
